<div class="comments-row">
  <mat-form-field>
    <!-- <input type="text" matInput placeholder="Laissez un commentaire…"> -->
    <input type="text" matInput placeholder="Laissez un commentaire…" [formControl]="commentCtrl">
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="onLeaveComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
<!-- <mat-list *ngIf="comments.length"> -->
<mat-list *ngIf="comments.length" @list>
    <h2 matSubheader>Commentaires</h2>
    <!-- <mat-list-item *ngFor="let comment of comments"> -->
    <!-- <mat-list-item *ngFor="let comment of comments" @listItem> -->
    <!-- <mat-list-item *ngFor="let comment of comments" [@listItem]="listItemAnimationState"> -->
    <!-- <mat-list-item *ngFor="let comment of comments"
      [@listItem]="listItemAnimationState"
      (mouseenter)="onListItemMouseEnter()"
      (mouseleave)="onListItemMouseLeave()"> -->
    <mat-list-item *ngFor="let comment of comments; let i = index"
      [@listItem]="animationStates[i]"
      (mouseenter)="onListItemMouseEnter(i)"
      (mouseleave)="onListItemMouseLeave(i)">
      <!-- <span mat-line>{{ comment.comment }}</span>
      <br>
      <span mat-line>{{ comment.createdDate | timeAgo }}</span> -->
      <span class="comment-text" mat-line>{{ comment.comment }}</span>
      <br>
      <span class="comment-date" mat-line>{{ comment.createdDate | timeAgo }}</span>
    </mat-list-item>
</mat-list>