<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title>Inscription</mat-card-title>
  <mat-card class="form-card">
      <mat-card-subtitle>Informationss personnelles</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
      <mat-card-subtitle>Comment préférez-vous que l'on vous contacte ?</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
      <mat-card-subtitle>Email</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
      <mat-card-subtitle>Téléphone</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
      <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
  </mat-card>
  <mat-card-actions *ngIf="mainForm.valid">
      <button mat-flat-button color="primary" (click)="onSubmitForm()">ENREGISTRER</button>
  </mat-card-actions>
</mat-card>


<!-- <mat-card [formGroup]="mainForm">
  <mat-card-title>Inscription</mat-card-title>
  mat-card.form-card*5>mat-card-subtitle&    
  <mat-card class="form-card">
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card>                               

</mat-card> -->
